pandas
panel
bokeh
jupyter
graphframes
scikit-learn
notebook
ipykernel
matplotlib
seaborn
pamela
scipy
sympy
requests
nptyping
pylint
pytest
python-dotenv
plotly
openpyxl
jupyter_bokeh
ipywidgets_bokeh
ydata_profiling
shapely
blaze
odo
xgboost
pyprind
# gensim==3.8.3
nltk
mlxtend
watermark
session_info
pca
jupyterlab
gower
scikit-learn-extra
tabulate
kneed
apyori
pdfreader
spacy
wordcloud
unidecode
PyPDF2
pyLDAvis
# ConTexto
numpy
xlrd
umap-learn
typing-extensions